.input {
  border: 1px solid #cccccc;
  background: #ffffff !important;
  outline: none;
  height: 101%;
  width: 100%;
  color: black;
  font-size: 16px;
}

.button {
  height: 100%;
  width: 100%;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  touch-action: manipulation;
  vertical-align: baseline;
}

.button:hover,
.button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.65);
}

.button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.65);
}

.file_input {
  display: none;
}

.file_label {
  display: inline-block;
  background-color:#cccccc;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file_label:hover {
  background-color: #afaeae;
}

/* Иконка плюса */
.file_label::before {
  content: '+';
}
