.input {
    border: 1px solid #cccccc;
    background: #ffffff !important;
    outline: none;
    border-radius: 15px;
    height: 5%;
    color: black;
    font-size: 14px;
    display: block;
    margin: 10px auto;
    text-align: justify;
    padding-left: 10px;
}